@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

$blue: #4A30D0;
$blue-opacity: 0.5;
$grey: #323638;
$light-grey: #9BA0A3;
$light-blue: #7156ff;

body {
    background-color: white;
}

* {
    font-family: 'Cabin', sans-serif !important;
}

h1 {
    font-size: 4em !important;
}

h2 {
    font-size: 3em !important;
}

.header {
    background-color: black;
    height: 80vh;
    display: flex;
    background-image: url('../img/cover.png');
    background-size: cover;
    background-position: center center;

    .caption {

        h1 {
            color: white;
            font-size: 4vw;
            line-height: 1em;
            margin-bottom: 48px;
        }

        p {
            color: white;
        }
    }
}

.btn-primary {
    font-family: 'Poppins' !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 20px 35px !important;
    background-color: $blue !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary {
    font-family: 'Poppins' !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 20px 35px !important;
    background-color: white !important;
    color: $grey !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    font-size: 16px;
    font-weight: 700;
    color: white !important;
}

.badge-kustom {
    letter-spacing: 5px;
    font-weight: 900 !important;
    font-size: 14px !important;
    color: $light-grey !important;
}


.thumbnail {
    background-color: $blue;
    padding-bottom: 1px;
    transform: translateY(50%);
}

.text-btn {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.icon-badge {
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 25px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;

    &.check {
        padding: 6px;
        background-color: $blue !important;
    }
}

.dot-points {
    display: block;

    &>div {
        padding: 8px 0;
        display: flex;
        align-items: center;

        .icon-badge {
            color: white;
        }
    }
}

.problem-info {

    .problem-icon {
        text-align: center;
        padding: 10px !important;

        p {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.contact-info {
    padding: 50px 0;


    .contact-pane {
        padding: 45px 20px;
    }
}

.services {
    transform: translateY(30%);

    .cars {
        padding: 50px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/gallery/car.jpg');
        background-position: center center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-size: cover;
        color: white !important;

        h3 {
            text-align: center;
            flex-basis: 100%;
            font-size: 3em;
            color: white !important;
        }
    }

    .houses {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/gallery/8.jpg');
        background-position: center center;
        background-size: cover;
        color: white !important;

        h3 {
            text-align: center;
            flex-basis: 100%;
            font-size: 3em;
            color: white !important;
        }
    }

    .commercial {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/gallery/commercial.jpg');
        background-position: center center;
        background-size: cover;
        color: white !important;

        h3 {
            text-align: center;
            flex-basis: 100%;
            font-size: 3em;
            color: white !important;
        }
    }
}

.footer {
    background-color: $blue;
    padding: 150px 0 125px;
}

.social-btn {
    padding: 8px !important;
    display: inline-flex;
    width: 42px;
    height: 42px;
    min-width: 0 !important;
    align-items: center;
    justify-content: center;
    border-radius: 32px !important;
}

.heroo-btn {
    display: flex;
    align-items: flex-end;
    margin-left: 25px;
}

.contact-btnn {
    display: flex;
    align-items: flex-end;
    margin-left: 55px;
}

@media screen and (max-width: 1001px) {
    .services {
        transform: translateY(0) !important;

    }

    .header {
        height: auto !important;
    }
}

@media screen and (max-width: 900px) {
    .services .col-lg-4 {
        max-width: 100% !important;
        position: relative;
        bottom: -100px;

    }

    .contact-btnn {
        margin-top: 20px !important;
    }

    .about-us {
        padding-left: 10px;
        padding-right: 10px;
    }

    .heroo-btn {
        display: block !important;
        max-width: 100% !important;
        margin-left: 0;
        margin-top: 15px !important
    }

    .font-mob {
        font-size: 35px !important;
    }

    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .kustom-badge {
        display: none !important;
    }

    .state {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .adjust {
        margin-right: 5px;
    }

    .problem-icon {
        flex-basis: 50% !important;
        width: 50% !important;

        .icon {
            height: 45px;
        }
    }

}

@media screen and (max-width: 1351px) {
    .thumbnail {
        transform: translateY(0) !important;
    }
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 300px;
    z-index: 4;
    margin: 25px 25px;
    padding: 25px 25px;
    box-shadow: rgba(74, 48, 208, .1) 0px 0px 40px -10px;
}

.pricing-card:hover .card-color {
    height: 100%;
}

p {
    transition: 300ms;
}

.pricing-card:hover p {
    color: white;
}

.card-color {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #4A30D0;
    min-width: 100%;
    height: 30%;
    z-index: 3;
    transition: 400ms;
}

.car-size-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 25px 25px;
    box-shadow: rgba(74, 48, 208, .1) 0px 0px 40px -10px;
}

.card-color-size {
    background-color: #4A30D0;
    position: relative;
    padding: 0 25px;
    margin: 0 25px;
    min-width: 100%;
    height: 30%;
    z-index: 3;
    transition: 400ms;
}

.car-size-card:hover .card-color-size {
    height: 100%;
    position: absolute;
}

.car-size-card:hover .car-icons {
    filter: invert(100%);
}

.card-font-heading {
    font-size: 24px;
    z-index: 4;
}

.card-font-heading-car {
    color: white;
    font-size: 24px;
    z-index: 4;
    position: absolute;
    bottom: 18px;
}

.car-size-card:hover .card-font-heading-car {
    position: absolute;
    bottom: 18px;
}

.selection {
    font-size: 14px;
}

.estimated-price {
    z-index: 4;
    color: white;
    position: absolute;
    bottom: 0px;
}

.car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 400px;
    min-height: 400px;
    padding: 25px 25px;
}

.car-icons {
    width: 84px;
    height: 84px;
    z-index: 4;
    position: absolute;
    top: 95px;
    transition: 300ms;
}

.car-icons-film {
    width: 84px;
    height: 84px;
    z-index: 4;
    position: absolute;
    top: -45px;

}



.car-size-row {
    flex-wrap: nowrap !important;
    justify-content: center;
}

.btn-pricing {
    font-family: 'Poppins' !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 20px 35px !important;
    background-color: #6c57d1 !important;
    display: flex;
    align-items: center;
    color: white !important;
    letter-spacing: 2px !important;
    justify-content: center;
    margin-bottom: 12px !important;
}

.btn-pricing:hover {
    background-color: #4A30D0 !important;
    color: white !important;
}

.film-size-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 5px 55px;
    margin: 25px 25px;
    box-shadow: rgba(74, 48, 208, .1) 0px 0px 40px -10px;
}

.card-font-heading-film {
    color: #3C4144;
    font-size: 38px;
    text-align: center;
    line-height: 47px;
    z-index: 4;
    margin-bottom: 0px;
}

.total-price,
.removal-text {
    font-size: 48px;
}

.final-price-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.info-card {
    color: #9BA0A3;
}

.est {
    color: #3C4144;
    font-size: 14px;
    line-height: 0px;
    z-index: 4;
    margin-bottom: 0px;
    text-align: center;
}

.price-message {
    color: #9BA0A3;
    font-size: 14px;
    margin: 0 0;
}


.tinting-options,
.removal-options {
    display: none;
}

.active {
    display: block;
    transition: 200ms;
    animation: fade-in 1000ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pricing-heading {
    font-size: 3em !important;
    margin-bottom: 20px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}


@media screen and (max-width: 1701px) {
    .car-size-row {
        flex-wrap: wrap !important;
    }
}

.restart-large {
    float: right;
}

.restart-small {
    display: none;
}

@media screen and (max-width: 1403px) {
    .card-font-heading {
        font-size: 17px !important;
        margin-bottom: 20px;
        padding-left: 14px;
    }



    .pricing-card {
        min-height: 200px;
    }

    .car-size-card {
        min-height: 270px;
    }

    .card-font-heading-film {
        font-size: 20px;
    }

    .info-card {
        font-size: 14px;
    }

    .price-message {
        font-size: 12px;
    }
}

@media screen and (max-width: 1094px) {
    .restart-large {
        display: none;
    }

    .restart-small {
        display: block;
    }
}

/*.owl-dot {
    margin: 10px 10px;
    color: #212923;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    transition: 400ms cubic-bezier(0.75, 0.25, 0, 1);

    &.active {
        background-color: #90f1af;
    }
}

.no-js .owl-carousell,
.owl-carousell.owl-loaded {
    display: block;
}

.owl-carousell {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousell,
.owl-carousell .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousell .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousell .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}*/